@model Pokedex.Models.Entities.HomeContent

<div id="home-content">
    <div class="row">
        <div class="col-lg 12">
            <div class="panel">
                <div class="panel-heading">
                    @Model.Title - @Model.SubTitle <span class="pull-right">@Model.DatePosted</span>
                </div>
                <div class="panel-body">
                    @Model.Body
                </div>
            </div>
        </div>
    </div>
</div>