@model Pokedex.Models.ViewModels.PokeView


@foreach (var item in Model.pokemon)
{
    <a href="@Url.Link("/Pokemon/View", item.Name)" data-dex-id="@item.PokedexNumber" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">@( $"{item.PokedexNumber}. {item.Name}" )</span></a>
}