@model Pokedex.Models.ViewModels.PokeView
@*@{
        ViewData["Title"] = "Home Page";
    }

*@
<!-- Nav bar start -->
<!-- Nav Bar End -->


<div id="body-content-menu" class="col-lg-3">

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12 col-sm-12">


                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color:#fff">Search for a pokemon</h2>
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control input-lg" placeholder="Search..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="pokemon-list" class="list-group">

                    @Html.Partial("/Views/Partials/PokeList.cshtml", Model)
                    @*<a href="#" data-dex-id="1" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">1. Bulbasaur</span></a>
                        <a href="#" data-dex-id="2" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">2. Ivysaur</span></a>
                        <a href="#" data-dex-id="3" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">3. Venusaur</span></a>
                        <a href="#" data-dex-id="4" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">4. Charmander</span></a>
                        <a href="#" data-dex-id="5" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">5. Charmeleon</span></a>
                        <a href="#" data-dex-id="6" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">6. Charizard</span></a>
                        <a href="#" data-dex-id="7" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">7. Squirtle</span></a>
                        <a href="#" data-dex-id="8" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">8. Wartortle</span></a>
                        <a href="#" data-dex-id="9" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">9. Blastoise</span></a>
                        <a href="#" data-dex-id="10" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">10. Caterpie</span></a>
                        <a href="#" data-dex-id="11" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">11. Metapod</span></a>
                        <a href="#" data-dex-id="12" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">12. Butterfree</span></a>
                        <a href="#" data-dex-id="13" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">13. Weedle</span></a>
                        <a href="#" data-dex-id="14" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">14. Kakuna</span></a>
                        <a href="#" data-dex-id="15" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">15. Beedrill</span></a>
                        <a href="#" data-dex-id="16" class="list-group-item list-group-item-action pokemon"><span class="pokemon-listing">16. Weedle</span></a>*@
                </div>

            </div>
        </div>
    </div>
</div>


<div id="pokemon-content" class="col-lg-9 visible-lg">

    @Html.Partial("/Views/Partials/PokeDetails.cshtml")

</div>