@model Pokedex.Models.ViewModels.CreatePokemonViewModel

@{
    ViewData["Title"] = "Edit";

}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2 align="center">Edit</h2>

                    <form asp-action="Edit" role="form" align="center" enctype="multipart/form-data">
                        <div class="form-horizontal">
                            <h4>Pokemon</h4>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="pokemon.ID" />
                            <div class="form-group">
                                <label asp-for="pokemon.Name" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input asp-for="pokemon.Name" class="form-control" />
                                    <span asp-validation-for="pokemon.Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="pokemon.PokedexNumber" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input asp-for="pokemon.PokedexNumber" class="form-control" />
                                    <span asp-validation-for="pokemon.PokedexNumber" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="pokemon.BaseAttack" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input asp-for="pokemon.BaseAttack" class="form-control" />
                                    <span asp-validation-for="pokemon.BaseAttack" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="pokemon.BaseDefense" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input asp-for="pokemon.BaseDefense" class="form-control" />
                                    <span asp-validation-for="pokemon.BaseDefense" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="pokemon.BaseHitpoints" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input asp-for="pokemon.BaseHitpoints" class="form-control" />
                                    <span asp-validation-for="pokemon.BaseHitpoints" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="pokemon.BaseSpecialAttack" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input asp-for="pokemon.BaseSpecialAttack" class="form-control" />
                                    <span asp-validation-for="pokemon.BaseSpecialAttack" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="pokemon.BaseSpecialDefense" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input asp-for="pokemon.BaseSpecialDefense" class="form-control" />
                                    <span asp-validation-for="pokemon.BaseSpecialDefense" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="pokemon.BaseSpeed" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input asp-for="pokemon.BaseSpeed" class="form-control" />
                                    <span asp-validation-for="pokemon.BaseSpeed" class="text-danger" />
                                </div>
                            </div>

                            <div class="form-group">
                                @*<label asp-for="pokemon.Harvestables" class="col-md-4 control-label"></label>*@
                                <div class="col-md-offset-2 col-md-8">
                                    <fieldset>
                                        <legend>Harvestable Items</legend>
                                        @for (var i = 0; i < Model.pokemon.Harvestables.Count(); i++)
                                        {
                                            var harvestable = Model.pokemon.Harvestables[i];
                                            <input type="hidden" asp-for="pokemon.Harvestables[i].ID" style="display:none;" />
                                            <input type="hidden" asp-for="pokemon.Harvestables[i].Name" style="display:none;" />
                                            <div class="checkbox">
                                                @*@Html.LabelFor(model => model.pokemon.Harvestables[i].Name, harvestable.Name)*@
                                                <label>
                                                    @Html.CheckBoxFor(model => model.pokemon.Harvestables[i].IsHarvestable)
                                                    @(Model.pokemon.Harvestables[i].Name)
                                                </label>
                                            </div>
                                        }

                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="pokemon.Description" class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <textarea asp-for="pokemon.Description" class="form-control" ></textarea>
                                    <span asp-validation-for="pokemon.Description" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="checkbox">
                                        <input asp-for="pokemon.IsInMod" />
                                        <label asp-for="pokemon.IsInMod"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Poke Images:</label>
                                <div class="col-md-8">
                                    <input type="file" name="files" class="file-upload" id="files" multiple accept="image/jpeg, image/png, image/gif" />
                                </div>
                            </div>

                            @if (Model.PokeImages.Any())
                            {

                                <div id="img-preview" class="pokemon-img-preview">
                                    <h3>Current Images</h3>
                                    @foreach (var img in Model.PokeImages)
                                    {
                                        <img src="~/images/pokemon/@(Model.pokemon.Name.ToLower())/@(img.FileSystemName)" width="30%" height="30%" class="img-rounded img-fluid" />
                                    }

                                </div>

                            }

                            <div class="form-group">
                                <label class="col-md-4 control-label">Taming Type:</label>
                                <div class="col-md-8">
                                    <select asp-for="pokemon.tamingType" asp-items="@Model.TamingTypes" class="form-control"></select>
                                    <span asp-validation-for="pokemon.tamingType" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                    <a class="btn btn-danger" asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </form>

                
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
