@model IEnumerable<Pokedex.Models.Entities.Pokemon>

@{
    ViewData["Title"] = "View All Pokemon";
}

<div class="container-fluid">
    <div class="list-container">

        <div class="row">

            @*<div class="col-md-12">*@

                <div class="col-md-3 col-lg-3">
                    <input type="checkbox" id="filter-active-only" /><label for="filter-active-only">Active Only</label> 
                </div>

                <div class="col-md-6 col-lg-6">
                    
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control input-lg" id="admin-pokemon-search" placeholder="Search by # or name...">

                    </div>
                </div>
                <div class="col-md-3 col-lg-3 pull-right">
                    <a class="btn btn-success btn-lg" asp-action="Create">Create New</a>

                </div>
            @*</div>*@

        </div>

        <div id="pokemon-tbl">
            @Html.Partial("/Views/Partials/Pokemon/_AdminPokemonList.cshtml", Model)
        </div>


    </div>
</div>